 body{
    background-image: url('background.jpg');
    background-repeat: no-repeat;
   
.btn{
    border:none;
    background-color:inherit;
    padding: 14px 28px;
    font-size: pointer;
    display: inline-block
}
.btn:hover{background: #eee;}

.start{color: #eeeeee57;}
.info{color:#eeeeee7c}


    }
 
 